body {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

iframe {
    display: block;
    width: 100%;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
    height: 100vh;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: rgba(var(--background-body), 0.5);
    backdrop-filter: blur(10px);
}


#left-nav h1 {
    background-color: rgba(var(--background-body), 0.9);
    margin: auto;
}

#right-nav {
    margin: auto;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 10vh;
    padding-top: 5vh;
}

.main-content {
    flex: 2;
}

.annotations {
    flex: 1;
}

@media (min-width: 768px) {
    .container {
        flex-direction: row;
    }
}
